<input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">
<table id="viewUsers" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
    <thead>
    <tr>
        <th>Full name</th>
        <th>Username</th>
        <th>Email</th>
        <th data-hide="all">Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr>
            <td>{{ this.name }}</td>
            <td>{{ this.username }}</td>
            <td>{{ this.email }}</td>
            <td>
                <button type="button" onclick="location.href = '/users/{{ this._id }}'"
                        class="btn btn-primary btn-sm">
                    <i class="fa fa-eye"></i> Details
                </button>
                <button type="button" onclick="location.href = '/users/edit/{{ this._id }}'"
                        class="btn btn-info btn-sm">
                    <i class="fa fa-pencil"></i> Edit
                </button>
                <button type="button" class="btn btn-danger2 btn-sm user-delete" data-id="{{ this._id }}">
                    <i class="fa fa-trash"></i> Delete
                </button>
                <form method="post" action="/users/{{ this._id }}?_method=DELETE" class="inline" id="{{ this._id }}">
                </form>
            </td>
        </tr>
    {{/each}}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5">
            <ul class="pagination pull-right"></ul>
        </td>
    </tr>
    </tfoot>
</table>